.modal.buy-modal.fade{ id: id, role: 'dialog' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
          %span{ 'aria-hidden': 'true' } &times;
      .modal-body
        .hosted.text-center
          .title GitLab SaaS
          .subtitle (We host)
          .setup No technical setup required.
          .explanation If you don't want to worry about downloading and installing GitLab yourself.
          .button
            - button_classes_hosted = 'btn btn-pricing ' + classname + '-hosted'
            = link_to hosted_text, hosted_link, "data-ga-name" => "#{hosted_text}","data-ga-location" => "#{ga_location}-modal", "data-ga-variant" => "#{variant_classname}", class: "btn cta-btn orange-light #{button_type} #{classname}-hosted #{variant_classname}"
        .self-managed.text-center
          .title GitLab Self-Managed
          .subtitle (You host)
          .setup Requires Linux Experience.
          .explanation Download and install GitLab on your own infrastructure or in our public cloud environment.
          .button
            = link_to self_managed_text, self_managed_link, "data-ga-name" => "#{self_managed_text}","data-ga-location" => "#{ga_location}-modal", "data-ga-variant" => "#{variant_classname}", class: "btn cta-btn lavender #{button_type} #{classname}-self-managed #{variant_classname}"
